{% extends "layouts/auth_base.html" %} {% block title %}Página Não Encontrada - 404{% endblock %}
{% block content %}
    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 100vh;
            padding: 16px;
            margin: 0px 16px 16px 16px;
            background-color: #ffffff;
            border: solid 1px #dee2e6;
            border-radius: 8px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
        }
    </style>

    <main>
        <div class="text-center p-5">
            <img
                src="/static/images/svg/404.svg"
                alt="Erro de pagina nao encontrada"
                id="img-error-404" />
            <h2 class="mb-4">Página Não Encontrada</h2>
            <div class="mt-4">
                <p class="lead text-muted mb-4">
                    Desculpe, a página que você está procurando não existe ou foi removida.
                </p>
                Se você acha que isso é um erro, entre em contato com o suporte.
            </div>
        </div>
    </main>
{% endblock %}
